{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification is-danger">
                                <p style="color: green;">{{ messages[0] }}</p>
                            </div>
                        {% endif %}
                {% endwith %}
<section id="projects" class="projects-section bg-light">
    <div class="container">

	{% for act in acts %}

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{{act['img']}}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>{{ act["title"] }}</h4>
              <p class="item-activitat">Titol          : {{ act.titol}}</p>
            <p class="item-activitat">Director          : {{ act["author"]}}</p>
            <p class="item-activitat">Descripció        : {{ act["description"]}}</p>
            <p class="item-activitat">Locatlització     : {{ act["location"]}}</p>
            <p class="item-activitat">Nombre de persones: {{ act["people"]}}</p>
            <p class="item-activitat">Categoria         : {{ act["category"]}}</p>
            <p class="item-activitat">Cost              : {{ act["cost"]}}</p>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
</section>


{% endblock %}